body {
    background-color: skyblue;
    font-family: Arial, Helvetica, sans-serif;
}

.form-container {
    width: 300px;
    background-color: antiquewhite;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px;
}

label {
    margin: 0 auto;
    color: black;
    display: block;
    text-align: center;
}

h2 {
    text-align: center;
    padding-top: 40px;
}

input, textarea {
    width: 250px;
    padding: 10px;
    margin-bottom: 30px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
    background-color: green;
    border-radius: 3px;
    color: white;
    border: none;
    font-size: 1.2em;
}

button:hover {
    background-color: aquamarine;
    color: black;
}