body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.container {
    width: 600px;
    margin-top: 50px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

.sets {
    margin-top: 20px;
}

#name, #email, #position {
    width: 590px;
    height: 25px;
}

input:focus, 
textarea:focus {
    border-color: orange;
}

input:invalid,
select:invalid,
textarea:invalid {
    border-color: red;
}

input:valid,
select:valid,
textarea:valid {
    border-color: green;
}

.radio-group input[type="radio"]:checked {
    border-color: green;
    background-color: orange;
    box-shadow: 1px 1px;
    color: brown
}

input[type="radio"]:checked + label {
    color: blue;
}

input:first-of-type {
    border: 2px solid green; 
    background-color: #f0fff0;
    padding: 5px;
}

#position {
    height: 30px;
}

textarea {
    width: 590px;
    height: 120px;
    display: block;
}

button {
    margin-top: 20px;
    height: 25px;
    width: 590px;
    text-align: center;
    background-color: green;
    color: white;
}

button:hover {
    background-color: greenyellow;
    color: black
}