body {
    background-color: beige;
}

.todo-list {
    margin: auto;
    list-style-type: none;
    width: 400px;
    height: 550px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 10px;
}

.title {
    text-align: center;
    padding-right: 25px;
    padding-top: 15px;
}

.list-item {
    background-color: darkseagreen;
    margin-top: 20px;
    margin-right: 40px;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
}

.sub-item {
    margin: 10px;
}

a {
    text-decoration: none;
}

a:visited{
    color: yellow;
}

a:hover {
    color: red;
}

a:focus {
    outline: auto;
}

a:active {
    color: brown;
}

