body {
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
}
.blog-post-card {
    background-color: white;
    border-radius: 10px;
    width: 325px;
    text-align: center;
    margin: auto;
}

.post-img {
    width: 325px;
    border-bottom: 5px solid;
}

.post-content {
    padding: 5px;
}

.post-title {
    margin: 5px 10px 10px 10px;
    color: black;
}

.post-excerpt {
    margin: 10px 10px 10px 10px;
    color: grey;
}

.read-more {
    color: Black;
    background-color: grey;
    border-radius: 5px;
    margin: 7px 7px 5px 7px;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    text-decoration: none;
}

.read-more:hover {
    background-color: burlywood;
}