body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.color-grid {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.color-box {
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 10px;
    margin: 50px 20px 20px 50px;
    justify-content: center;
    align-items: center;
}

.color1 {
    background-color: #CFD128;
}

.color2 {
    background-color: rgb(200, 0, 0);
}

.color3 {
    background-color: burlywood;
}

.color4 {
    background-color: hsl(275, 56%, 40%);
}

.color5 {
    background-color: magenta;
}