body {
    background-color: rosybrown;
    font-family: Arial, sans-serif;
}

.business-card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 300px;
    height: 500px;
    padding: 20px;
    background-color: antiquewhite;
    border-width: 2px;
    border-color: black;
    text-align: center;
    font-size: 16px;
}

.profile-image {
    max-width: 100%;
    height: 150px;
    margin-top: 50px;
    border: 2px solid brown;
}

hr {
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;   
}

a {
    color: brown;
    text-decoration: none;
    margin-right: 5px;
}

a:hover {
    color:darkslategray;
}
